{% extends 'Site/template.html.twig' %}
{% block contenuto %}
    <div class="row">
        <form class="col s12" method="POST" action="inserisciGiocatore" >
                nome<input  type="text"  name="n">
                cognome<input  type="text"  name="c">
                residenza<input  type="text"  name="r">
                telefono<input  type="text"  name="t">
            email<input  type="text"  name="e">
            nazionalita<input  type="text"  name="na">
            anno nascita<input  type="text"  name="ddn">
            codicefiscale<input  type="text"  name="cf">
            id_squadra<input  type="text"  name="idsquadra">
            altezza<input  type="text"  name="altezza">
            peso<input  type="text"  name="peso">
            ruolo<input  type="text"  name="ruolo">
            valore<input  type="text"  name="valore">
            <input type="submit" value="inserisci giocatore">
        </form>
    </div>


{% endblock %}