{% extends 'Site/template.html.twig' %}
{% block contenuto %}

    <form method="post" action="user/login">
    email
    <input type="text" name="email"><br>
    <input type="password" name="password">
    <input type="submit">ciao
</form>

{% endblock %}