<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="../../web/materalize/css/materialize.min.css"  media="screen,projection"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="app">
<nav>
    <div class="nav-wrapper teal blue-grey darken-4">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block contenuto %}
    {% endblock contenuto %}
</div>


<script type="text/javascript" src="../../web/materalize/js/materialize.min.js"></script>
<script type="text/javascript" src="../../web/materalize/jquery.min.js"></script>

</body>
</html>
